{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    
    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
        let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
    </script>
    
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm px-5 fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Online Shoppers</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mystore' %}">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn position-relative ms-2" href="{% url 'cart' %}">
                            <i id="cart-icon" class="bi bi-cart4"></i>
                            <span class="position-absolute top-0 start-95 translate-middle badge rounded-pill bg-danger">
                                {{cartItems}}
                                <span class="visually-hidden">Items In Cart</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ms-2" href="{% url 'sign_out' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
      
    {% endblock %}
    
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>