.quantity{
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.update-cart{
    cursor: pointer;
}

.btn{
    border-radius: 0;
}
.row-image{
    width: 100px;
}
.arrows{
    cursor: pointer;
}
.cart-row{
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}
.form-field{
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.box-element{
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}
.product{
    border-radius: 0 0 4px 4px;
}
