{% load static %}
<div class="row px-3">
    <h1 class="text-center py-3">Testimonials</h1>
    <div class="col-lg-4">
        <div class="mx-auto bg-light py-3" style="width:400px; ">
            <div class="row px-3">
                <div class="col-lg-4">
                    <img style="width: 7rem;" class="rounded-pill" src="{% static 'img/person1.jpg' %}" alt="" srcset="">
                </div>
                <div class="col-lg-8">
                    <h5>Ruth Clasico</h5>
                    <div class="d-flex justify-content-start">
                        <i class="bi bi-star-fill text-danger"></i>
                        <i class="bi bi-star-fill text-danger"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <div class="row">
                        <p class="lead fs-5">
                            Networks Engineer, at netLabs!UG.
                        </p>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="col-lg-4">
        <div class="mx-auto bg-light py-3" style="width:400px;">
            <div class="row px-3">
                <div class="col-lg-4">
                    <img style="width: 6rem;" class="rounded-pill" src="{% static 'img/person3.jpg' %}" alt="" srcset="">
                </div>
                <div class="col-lg-8">
                    <h5>Samuel Ssenyonga</h5>
                    <div class="d-flex justify-content-start">
                        <i class="bi bi-star-fill text-danger"></i>
                        <i class="bi bi-star-fill text-danger"></i>
                        <i class="bi bi-star-fill text-danger"></i>
                        <i class="bi bi-star-fill text-danger"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <div class="row">
                        <p class="lead fs-5">
                            Software Engineer, at Airtel Uganda Limited.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mx-auto bg-light py-3" style="width:400px;">
            <div class="row px-3">
                <div class="col-lg-4">
                    <img style="width: 6rem;" class="rounded-pill" src="{% static 'img/person2.jpg' %}" alt="" srcset="">
                </div>
                <div class="col-lg-8">
                    <h5>James Bond</h5>
                    <div class="d-flex justify-content-start">
                        <i class="bi bi-star-fill text-danger"></i>
                        <i class="bi bi-star-fill text-danger"></i>
                        <i class="bi bi-star-fill text-danger"></i>
                        <i class="bi bi-star-fill "></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <div class="row">
                        <p class="lead fs-5">
                            Electrical Engineer, at Uganda Revenue Authority.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
